body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background: gray;
}
h1 {
    text-align: center;
    letter-spacing: 5px;
    color: #fff;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
}
.radioButtons {
    font-size: 18px;
}
label {
    font-weight: normal;
    letter-spacing: 2px;
}
.displayCurrentLogo img {
    height: 60px;
    width: 60px;
    display: block;
    border-radius: 50%;
    border: 2px solid #000;
    padding-left: 0;
    margin-top: 10px;
}
.noImage {
    font-size: 44px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    width: 60px;
    display: block;
    border-radius: 50%;
    border: 2px solid #000;
    margin-left: 15px;
    margin-right: 47px;
    margin-top: 10px;
}
.header {
    background: #001a4d;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
}
form {
    background: #fff;
}
.userStatus .eachRow {
    height: 80px;
    line-height: 80px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.status {
    height: 40px;
    line-height: 40px;
}

.streaming {
    height: 40px;
    line-height: 20px;
}

.noImage {
    font-size: 24px;
}

.name {
    padding-left: 0;
}

.filter {
    height: 30px;
    line-height: 30px;
}